<p id="notice"><%= notice %></p>

<h1>Listing Text Ninjas</h1>


<table>
  <thead>
    <tr>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_ninjas.each do |text_ninja| %>
      <tr>
        <td><%= text_ninja.index %></td>
        <td><%= link_to 'Show', text_ninja %></td>
        <td><%= link_to 'Edit', edit_text_ninja_path(text_ninja) %></td>
        <td><%= link_to 'Destroy', text_ninja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text ninja', new_text_ninja_path %>
